.App {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.top-cards {
  display: flex;
  justify-content: space-around;
}

.charts {
  display: flex;
  justify-content: space-around;
}

.pie-charts, .bar-graphs {
  display: flex;
  flex-direction: column;
}
